# Assignment : Data Structure

## 1. Discuss string slicing and provide examples.

## Slicing in String:

### -> Slicing in String refers to extracting a portion of the string using indexing. Python allows you to create substring from string using slicing method.

In [2]:
#Syntax 

#Substring = string[start:end:step]

In [4]:
#Example of slicing in string

str1 = ("My name is saif")
print(str1[0:7])

My name

In [5]:
#Slicing using negative indexing
print(str1[:-5]) #print string from starting except last five indexe

My name is

In [10]:
#Slicing using step 

print(str1[::2]) #print every second character.

M aei af

# 2. Explain the key features of lists in Python.

## Key Features of list:

### 1. Ordered:

#### List maitains the order of element as they are entered. Every element has specific position.

### 2. Heterogenous Data:

#### List can store heterogenous data means list can store string, character, Integer and boolean value etc.

### 3. Mutable:

#### List is mutable , meaning elemnet of list can be change after creation. you can add, remove and modify element.

### 4. Indexing or Slicing:

#### List allow you to acces the element of the list by using indexing or slicing method

# 3. Describe how to access,modify and delete elements in a list with examples.

## 1. Accessing Element:

In [17]:
## Elelment of list can be accessed by index.

my_list = ["car","bus","truck","cycle","bike"]
my_list[2] #third element will be print

'truck'

In [18]:
my_list[::2] #every second element will print from 0 index

['car', 'truck', 'bike']

In [19]:
my_list[:3] #only three element will be print

['car', 'bus', 'truck']

## 2.Modifying Element:

In [1]:
# Directly change value of list by index.

my_list = ["car","bus","truck","cycle","bike"]
my_list[2] = "train"

In [2]:
my_list

['car', 'bus', 'train', 'cycle', 'bike']

## Deleting Element:

In [4]:
# delete element by using remove function.

my_list = ["car","bus","truck","cycle","bike","truck"]
my_list.remove("truck") # Remove first occurrence of value.

In [5]:
my_list

['car', 'bus', 'cycle', 'bike', 'truck']

In [6]:
# delete element by using pop fucntion.

my_list = ["car","bus","truck","cycle","bike","truck"]
my_list.pop(3)

'cycle'

In [7]:
# delete element by using clear function.

my_list = ["car","bus","truck","cycle","bike","truck"]
my_list.clear() #Remove all items from list.

In [8]:
my_list

[]

# 4. Compare and contrast tuples and lists with examples.

### Tuple and List both are data structure in python that can hold heterogenous data but they are diffrent in some properties.

## Syntax
### Lists are defined using square brackets [ ].

In [19]:
my_list1 = [2,3,4,5]

### Tuples are defined using parantheses ( ).

In [20]:
my_tuple = (1,2,3,4)

### Mutability:

#### Lists are mutable means , element of list can be changed after creation. addtion , deletion and modification of list is possible.

In [13]:
# adding an element in list

my_list = [1,2,3,4,5]
my_list.append(6) #Append object to the end of the list.

In [14]:
my_list

[1, 2, 3, 4, 5, 6]

In [15]:
# deleting an element in list.

my_list.remove(4) #Remove first occurrence of value.

In [16]:
my_list

[1, 2, 3, 5, 6]

In [17]:
# modifiction of element in list.

my_list[3] = 4

In [18]:
my_list

[1, 2, 3, 4, 6]

### Tupble are immutable means, element in tuple can not be adde, delete or modify after creation.

In [22]:
# if we try to add an element in tuple it will throw an error

my_tuple1 = (1,2,3,4,5)
my_tuple1.add(6)

AttributeError: 'tuple' object has no attribute 'add'

In [23]:
#if we try to modify tuple it will throw an error

my_tuple1 = (1,2,3,4,5)
my_tuple1[4] = 6

TypeError: 'tuple' object does not support item assignment

# 5. Describe the key features of sets and provide examples of their use.

## Sets:

### Set is an unordered collection of unique elements. Here are some key features of set:

### Unorder Collection:
#### Set do not maintain any order of element. so they are not indexed or ordered.

In [31]:
set1 = {'b','e','q','r'}

In [32]:
set1

{'b', 'e', 'q', 'r'}

### Unique Element:
#### Set can not contain duplicate element.

In [43]:
set2 = {1,1,2,2,3,3,4,4}
set2

{1, 2, 3, 4}

### Mutable:
#### Set are  mutable means, you can add or delete element after their creation.

In [44]:
set2.add(5)

In [45]:
set2

{1, 2, 3, 4, 5}

In [46]:
set2.remove(4)

In [47]:
set2

{1, 2, 3, 5}

# 6. Discuss the use cases of tuples and sets in Python programming.

## 1. Use Case Of tuples:

In [1]:
#tuples are immutable so we can use tuples to maintain record of employee in office

#using nested tuple

employee_record= (("Shubham Yadav","Software Developer",32554),
                   ("Ankit Kumar","Web Develoer",32556),
                   ("Saif Ali","Data Analyst",32557),
                   ("Karan Soni","System Engineer",32558),
                   ("Anurag Pandey","Software trainee",32559))
employee_record

(('Shubham Yadav', 'Software Developer', 32554),
 ('Ankit Kumar', 'Web Develoer', 32556),
 ('Saif Ali', 'Data Analyst', 32557),
 ('Karan Soni', 'System Engineer', 32558),
 ('Anurag Pandey', 'Software trainee', 32559))

In [2]:
employee_record[0]

('Shubham Yadav', 'Software Developer', 32554)

In [3]:
employee_record[3]

('Karan Soni', 'System Engineer', 32558)

In [17]:
# location map 

location = (("Maharashtra","Mumbai",100212),
           ("Uttar Pradesh","Lucknow",100345),
           ("Bihar","Patna",100456),
           ("Gujrat","Gandhinagar",100765))

In [18]:
location

(('Maharashtra', 'Mumbai', 100212),
 ('Uttar Pradesh', 'Lucknow', 100345),
 ('Bihar', 'Patna', 100456),
 ('Gujrat', 'Gandhinagar', 100765))

In [19]:
location[2]

('Bihar', 'Patna', 100456)

In [20]:
location[1]

('Uttar Pradesh', 'Lucknow', 100345)

## 2. Use Cases of sets

In [1]:
# Assignment submission by the student,

S1 = {"Shubham","Ankit","Saif","Karan"} #Students who done Assignment no 1.
S2 = {"Ankit","Karan","Saif"} #Stduents who done Assignment no 2.

S3 = S1 & S2 # Students who done both assignment.
print(S3)

{'Karan', 'Ankit', 'Saif'}

In [3]:
#Stdunet who have done atlest one assignmnet

S4 = S1 | S2
print(S4)

{'Saif', 'Shubham', 'Karan', 'Ankit'}

# 7. Describe how to add, modify and delete items in a dictionary with examples.

## Addition in Dictionary

In [2]:
# Adding an Elemnent in dictionary using new indexe and assigning a value to it.

car1 = {"Brand":"Mahindra","Model":"Thar","Price":"10 Lakh"}
car1["color"] = "Black" #Adding car color in dixtionary of car
print(car1)

{'Brand': 'Mahindra', 'Model': 'Thar', 'Price': '10 Lakh', 'color': 'Black'}

In [4]:
# Adding item of one diction to other using update method

feature = {"Fuel":"Diesel"}
car1.update(feature)

In [5]:
car1

{'Brand': 'Mahindra',
 'Model': 'Thar',
 'Price': '10 Lakh',
 'color': 'Black',
 'Fuel': 'Diesel'}

## Deletion in Dictionary

In [6]:
# Deleting element from dictionary by pop method

car1 = {"Brand":"Mahindra","Model":"Thar","Price":"10 Lakh"}
car1.pop("Price") # remove specified key and return the corresponding value.

'10 Lakh'

In [7]:
# Deleting element from dictionary using del function
del car1["Model"]

In [8]:
car1

{'Brand': 'Mahindra'}

In [9]:
# Deleting all element in dictionary using clear method.

car1.clear()

In [10]:
car1

{}

## Modification in Dictionary

In [13]:
# change a value in dictionary using key.

car1 = {"Brand":"Mahindra","Model":"Thar","Price":"10 Lakh"}
car1["Price"] = "12 Lakh"

In [14]:
car1

{'Brand': 'Mahindra', 'Model': 'Thar', 'Price': '12 Lakh'}

In [15]:
# change value in dictionary using update method

car1.update({"Model": "SUV 300"})

In [16]:
car1

{'Brand': 'Mahindra', 'Model': 'SUV 300', 'Price': '12 Lakh'}

# 8. Discuss the importance of dictionary keys being immutable and provide examples.

### -> Dictionary keys are immutable types such as integer, string or tuple contains only immutable elements.
### -> Immutability of keys in dictionary maintains the consistencey and integrity of data stores in dictionary.
### -> Immutable property of keys fixed the hash value, which allows python to quickly locate the key's associated value.
### -> Immutable key enhance the performance of dictionary operation.

In [18]:
# Creating a dictionary with immutable keys 

person = {"Name":"Sagar","Age":30,"City":"Patna"} # name, age and city are immutable
person

{'Name': 'Sagar', 'Age': 30, 'City': 'Patna'}

In [19]:
# Attempting to use Mutable key

perosn1 = {[1,2,3]:"Sagar"} # list is mutable it will throw an error (unhashable type)

TypeError: unhashable type: 'list'